body {
  margin: 0px;
  padding: 0px; }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 10%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 10%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 10%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 10%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 10%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 20%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 20%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 20%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 20%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 20%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 30%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 30%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 30%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 30%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 30%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 40%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 40%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 40%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 40%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 40%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-6 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 60%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-6 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 60%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-6 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 60%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-6 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 60%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-6 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 60%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-7 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-7 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-7 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-7 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-7 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 70%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-8 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-8 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-8 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-8 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-8 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-9 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 90%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-9 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 90%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-9 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 90%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-9 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 90%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-9 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 90%; } }

@media screen and (min-width: 0px) and (max-width: 539px) {
  .nt-col-xs-10 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%; } }

@media screen and (min-width: 540px) and (max-width: 719px) {
  .nt-col-sm-10 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%; } }

@media screen and (min-width: 720px) and (max-width: 959px) {
  .nt-col-md-10 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%; } }

@media screen and (min-width: 960px) and (max-width: 1139px) {
  .nt-col-lg-10 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%; } }

@media screen and (min-width: 1140px) and (max-width: 2000px) {
  .nt-col-xl-10 {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%; } }

.nt-header {
  background-color: #125689; }

.nt-header-primary {
  background-color: #125689; }

.nt-header-secondary {
  background-color: #326644; }

.nt-header-tertiary {
  background-color: #745892; }
